.countOfPlayersSelector{
  background: none !important;
    .arrowDown
    {
      font-size: 3em;
      margin-left: 30%;
      margin-right: 8%;
      background: none !important;
      border: none;
      color: #984B43;
    }
    .arrowUp
    {
      font-size: 3em;
      background: none !important;
      border: none;
      color: #984B43;
    }
    .playersCount
    {
      margin-right: 8%;
      font-size: 7em;
      color: #233237;
    }
}