.tic-tac-toe-gameboard {
	margin: auto;
		/* This puts the gameboard in the center of the screen. */
}

.play-against-computer {
	position: absolute;
	text-align: center;

}


.tic-tac-toe-space {
	text-align: center;
		/* Puts the [X or O or ?] in the center of the cell. */
	
	border: 1px solid black;
		/* Gives each space a thin black line around the perimeter. */
	
	font-size: 1000%; /* Using % based fonts is smartphone-friendly. */
		/* Make the font big, so it can be seen. */

	width: 1em; /* em is relative to font-size, again, for smartphone adaptability. */
	height: 1em;
		/* Make the spaces squares. */
	
}

.whose-turn-is-it {
	text-align: center;
	font-size: 250%;
}


