.newGameView{
  background-color: #EAC67A;
  .mainLabel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 9em;
    color: #984B43;
    font-family: fantasy;
  }
  .resumeButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    margin-bottom: 5%;
    width: 12em;
    font-size: 1.3em;
    background: none !important;
    border: none;
    color: #984B43;
  }
  .newGameButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    font-size: 3em;
    color: #984B43;
    background: none !important;
    border: none;

  }

  .playersLabel{
    font-size: 2em;
    margin-top: 5%;
    text-align: center;
    color: #18121E
  ;

  }
  .countOfPlayersSelector{
    margin-top: 3%;
  }
}